<div layout="row">
<md-grid-list md-cols="1" md-row-height="390px" style="width: 308px;">
        <md-grid-tile><sidenav></sidenav></md-grid-tile>
      </md-grid-list>
    
      
    <div layout="column" flex-gt-xs ng-cloak>
        <md-content layout-padding>
            <form name="esssayForm">
                <div layout="row">
                    <md-input-container flex="50">
                        <h5>Tema</h5>
                        <md-select name="type" ng-model="essay.theme" required>
                            <md-option ng-value="theme" ng-repeat="theme in themes">{{ theme }}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="50">
                        <h5>Tipo de redação</h5>
                        <md-select name="type" ng-model="essay.type" required>
                            <md-option value="Enem">Enem</md-option>
                            <md-option value="Vestibular">Vestibular</md-option>
                            <md-option value="Concurso">Concurso</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div style="text-align: right">
                    <md-button class="md-raised md-primary" > Download Modelo  </md-button>
                    <md-button class="button md-raised md-primary" ngf-select ng-model="essayImage" name="file" ngf-pattern="'image/*'"
                               ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                               ngf-resize="{width: 100, height: 100}"> Anexar Redação </md-button>
                </div>

                <md-input-container class="md-block" style="text-align: center">
                    <h5>Título</h5>
                    <input type="text" name="clientEmail" ng-model="essay.title">
                </md-input-container>

                <md-input-container class="md-block" style="text-align: center">
                    <textarea type="text" id="text" name="text" ng-model="essay.text" cols="10" rows="20" ng-show="!essayImage" required></textarea>
                </md-input-container>

                <div style="text-align: right">
                    <md-button ng-if="!essay._id" class="md-raised md-primary" ng-click="addEssay(essay)"> Enviar </md-button>
                </div>

            </form>
            <img style="width: 100%" src="{{essayImageUrl}}" ng-show="essayImage">
        </md-content>
    </div>
</div>
