<md-toolbar md-scroll-shrink ng-if="true" style="min-height:10px;">
    <div style="margin: auto; ">
        <div style='
            font-size: 22px;
            letter-spacing: 1.2px;
            word-spacing: -0.6px;
            color: #FFFFFF;
            font-weight: 700;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: uppercase;
            padding: 5px;
        '>
            {{title}}
        </div>
    </div>
</md-toolbar>