<style>
    body {
        background-image: url("../../public/img/background.jpg");
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
    }

    .margem{
        margin-top: 100px;
    }
</style>

<div layout="column">
    <div layout="row" layout-align="space-around"  ng-cloak="ng-cloak" class="login-form margem">
        <md-card flex="flex" flex-gt-sm="50" flex-gt-md="30">

                <md-card-content >
                    <form name="Form" ng-submit="onSubmit()">
                        <md-input-container class="md-block">
                            <label style="font-size: medium">Email</label>
                            <input placeholder="Digite seu email" type="text" name="email" ng-model="credentials.email"/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label style="font-size: medium">Senha</label>
                            <input placeholder="Digite sua senha" type="password" name="password" ng-model="credentials.password"/>
                            <div class="md-block" flex-gt-xs style="text-align: right">
                                <md-button href style="color: blue" ng-click="goRegister()" class="md-raised md-primary">Inscreva-se</md-button>
                                <md-button type="submit" value="entrar" class="md-raised md-primary"> Entrar </md-button>
                            </div>

                        </md-input-container>

                    </form>
                </md-card-content>
            </md-card>
        </div>
</div>