<div layout="row">
    <sidenav></sidenav>

    <div layout="column" flex ng-cloak>
        <md-content layout-padding>
            <form name="esssayForm">
                <div layout="row">
                    <md-input-container flex="50" required disabled>
                        <h5> Tema </h5>
                        <input name="type" ng-model="essay.theme.theme" disabled>
                        </input>
                    </md-input-container>
                    <md-input-container flex="50">
                        <h5> Tipo de redação </h5>
                        <input name="type" ng-model="essay.type" required disabled>
                        </input>
                    </md-input-container>
                </div>

                <md-input-container class="md-block" required disabled>
                    <h5> Status </h5>
                    <input type="text" name="status" ng-model="essay.status" disabled>
                </md-input-container>

                <style type="text/css">
                      input[type="number"]::-webkit-outer-spin-button,
                      input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                      }
                      input[type="number"] {
                        -moz-appearance: textfield;
                      }
                    </style>

                <!-- ENEM -->
                <div style="text-align: center" ng-show="enable && essay.type == 'Enem'">
                    <md-button ng-if="essay._id"class="md-raised md-primary" ng-click="toggleRight()"> Visualizar Chat </md-button>

                    <table class="md-api-table">
                        <thead>
                        <tr style="background-color: #0174DF">
                            <th style="font-size: 1.3rem; text-align: center; color:white">Competência</th>
                            <th style="font-size: 1.3rem; text-align: center; color:white">Peso individual</th>
                            <th style="font-size: 1.3rem; text-align: center; color:white">Nota recebida</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr style="background-color: #E3ECF5">
                            <td>Demonstrar dominío da modalidade escrita formal da Língua Portuguesa.</td>
                            <td style="text-align: center">200.0</td>

                            <td>
                                <input type="number" min="0" max="200" name="competencia1e" ng-model="essay.scores[0]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia1e.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia1e.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 200.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Compreender a proposta de redação e aplicar conceitos das várias áreas de conhecimento
                                para desenvolver o tema, dentro dos limites estruturais do texto dissertativo-argumentativo em prosa.</td>
                            <td style="text-align: center">200.0</td>

                            <td>
                                <input type="number" min="0" max="200" name="competencia2e" ng-model="essay.scores[1]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia2e.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia2e.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 200.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #E3ECF5">
                            <td>Selecionar, relacionar, organizar e interpretar informações, fatos, opiniões e argumentos
                                em defesa de um ponto de vista.</td>
                            <td style="text-align: center">200.0</td>

                            <td>
                                <input type="number" min="0" max="200" name="competencia3e" ng-model="essay.scores[2]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia3e.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia3e.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 200.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Demonstrar conhecimento dos mecanismos linguísticos necessários para a construção da argumentação.</td>
                            <td style="text-align: center">200.0</td>

                            <td>
                                <input type="number" min="0" max="200" name="competencia4e" ng-model="essay.scores[3]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia4e.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia4e.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 200.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #E3ECF5">
                            <td>Elaborar proposta de intervenção para o problema abordado, respeitando os direitos humanos.</td>
                            <td style="text-align: center">200.0</td>

                            <td>
                                <input type="number" min="0" max="200" name="competencia5e" ng-model="essay.scores[4]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia5e.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia5e.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 200.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                        <tr style="background-color: #0174DF">
                            <th style="font-size: 1.3rem; text-align: center; color:white">Nota Final</th>
                            <td style="font-size: 1.3rem; text-align: center; color:white">1000</td>
                            <td><input style="color:white" type="number" min="0" max="1000" name="notaFinalE" ng-model="essay.finalScore" disabled required></td>
                        </tr>
                    </table>
                </div>

                <!--Enem-->

                <!-- VESTIBULAR -->
                <div style="text-align: center" ng-show="enable && essay.type == 'Vestibular'">
                    <md-button ng-if="essay._id"class="md-raised md-primary" ng-click="toggleRight()"> Visualizar Comentários </md-button>
                    <table class="md-api-table">
                        <thead>
                        <tr style="background-color: #0174DF">
                            <th style="font-size: 1.3rem; text-align: center; color:white">Competência</th>
                            <th style="font-size: 1.3rem; text-align: center; color:white">Peso individual</th>
                            <th style="font-size: 1.3rem; text-align: center; color:white">Nota recebida</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr style="background-color: #E3ECF5">
                            <td>Adequação à proposta.</td>
                            <td style="text-align: center">2.5</td>

                            <td>
                                <input type="number" min="0" max="2.5" name="competencia1v" ng-model="essay.scores[0]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia1v.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia1v.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 2.5.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Modalidade escrita na variedade padrão.</td>
                            <td style="text-align: center">2.5</td>

                            <td>
                                <input type="number" min="0" max="2.5" name="competencia2v" ng-model="essay.scores[1]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia2v.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia2v.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 2.5.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #E3ECF5">
                            <td>Coerência e coesão.</td>
                            <td style="text-align: center">2.5</td>

                            <td>
                                <input type="number" min="0" max="2.5" name="competencia3v" ng-model="essay.scores[2]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia3v.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia3v.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 2.5.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Nível de informação e de argumentação.</td>
                            <td style="text-align: center">2.5</td>

                            <td>
                                <input type="number" min="0" max="2.5" name="competencia4v" ng-model="essay.scores[3]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia4v.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia4v.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 2.5.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                        <tr style="background-color: #0174DF">
                            <th style="font-size: 1.3rem; text-align: center; color:white">Nota Final</th>
                            <td style="font-size: 1.3rem; text-align: center; color:white">10</td>
                            <td><input style="color:white" type="number" min="0" max="10" name="notaFinalE" ng-model="essay.finalScore" disabled required></td>
                        </tr>
                    </table>
                </div>

                <!--Vestibular-->

                <!-- CONCURSO -->
                <div style="text-align: center" ng-show="enable && essay.type == 'Concurso'">
                    <md-button ng-if="essay._id"class="md-raised md-primary" ng-click="toggleRight()"> Visualizar Comentários </md-button>

                    <table class="md-api-table">
                        <thead>
                        <tr style="background-color: #084B8A">
                            <th style="font-size: 1.6rem; text-align: center; color:white">Dimensão Conceitual</th>
                        </tr>
                        </thead>
                    </table>

                    <table class="md-api-table">
                        <thead>
                        <tr style="background-color: #0174DF">
                            <th style="font-size: 1.3rem; text-align: center; color:white">Competência</th>
                            <th style="font-size: 1.3rem; text-align: center; color:white">Peso individual</th>
                            <th style="font-size: 1.3rem; text-align: center; color:white">Nota recebida</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr style="background-color: #E3ECF5">
                            <td>Adequação ao tema.</td>
                            <td style="text-align: center">5.0</td>

                            <td>
                                <input type="number" min="0" max="5" name="competencia1" ng-model="essay.scores[0]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia1.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia1.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 5.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Continuidade de ideias.</td>
                            <td style="text-align: center">4.0</td>

                            <td>
                                <input type="number" min="0" max="4" name="competencia2" ng-model="essay.scores[1]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia2.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia2.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 4.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #E3ECF5">
                            <td>Articulação de ideias.</td>
                            <td style="text-align: center">4.0</td>

                            <td>
                                <input type="number" min="0" max="4" name="competencia3" ng-model="essay.scores[2]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia3.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia3.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 4.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Progressão de ideias.</td>
                            <td style="text-align: center">4.0</td>

                            <td>
                                <input type="number" min="0" max="4" name="competencia4" ng-model="essay.scores[3]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia4.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia4.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 4.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #E3ECF5">
                            <td>Pertinência e relevância argumentativa.</td>
                            <td style="text-align: center">5.0</td>

                            <td>
                                <input type="number" min="0" max="5" name="competencia5" ng-model="essay.scores[4]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia5.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia5.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 5.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Suficiência argumentativa.</td>
                            <td style="text-align: center">3.0</td>

                            <td>
                                <input type="number" min="0" max="3" name="competencia6" ng-model="essay.scores[5]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia6.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia6.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 3.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table class="md-api-table">
                        <thead>
                        <tr style="background-color: #084B8A">
                            <th style="font-size: 1.6rem; text-align: center; color:white">Dimensão Formal</th>
                        </tr>
                        </thead>
                    </table>

                    <table class="md-api-table">
                        <thead>
                        <tr style="background-color: #0174DF">
                            <th style="font-size: 1.3rem; text-align: center; color:white">Competência</th>
                            <th style="font-size: 1.3rem; text-align: center; color:white">Peso individual</th>
                            <th style="font-size: 1.3rem; text-align: center; color:white">Nota recebida</th>
                        </tr>
                        </thead>

                        <tr style="background-color: #E3ECF5">
                            <td>Uso de anáforas.</td>
                            <td style="text-align: center">1.0</td>

                            <td>
                                <input type="number" min="0" max="1" name="competencia7" ng-model="essay.scores[6]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia7.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia7.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 1.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Uso de operadores argumentativos.</td>
                            <td style="text-align: center">1.0</td>

                            <td>
                                <input type="number" min="0" max="1" name="competencia8" ng-model="essay.scores[7]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia8.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia8.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 1.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #E3ECF5">
                            <td>Uso de articuladores.</td>
                            <td style="text-align: center">1.0</td>

                            <td>
                                <input type="number" min="0" max="1" name="competencia9" ng-model="essay.scores[8]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia9.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia9.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 1.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Correlação tempo e modo verbais.</td>
                            <td style="text-align: center">1.0</td>

                            <td>
                                <input type="number" min="0" max="1" name="competencia10" ng-model="essay.scores[9]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia10.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia10.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 1.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #E3ECF5">
                            <td>Propriedade vocabular.</td>
                            <td style="text-align: center">1.0</td>

                            <td>
                                <input type="number" min="0" max="1" name="competencia11" ng-model="essay.scores[10]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia11.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia11.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 1.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Estruturação de períodos.</td>
                            <td style="text-align: center">3.0</td>

                            <td>
                                <input type="number" min="0" max="3" name="competencia12" ng-model="essay.scores[11]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia12.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia12.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 3.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #E3ECF5">
                            <td>Concordância verbal e concordância nominal.</td>
                            <td style="text-align: center">3.0</td>

                            <td>
                                <input type="number" min="0" max="3" name="competencia13" ng-model="essay.scores[12]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia13.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia13.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 3.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Regência.</td>
                            <td style="text-align: center">1.0</td>

                            <td>
                                <input type="number" min="0" max="1" name="competencia14" ng-model="essay.scores[13]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia14.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia14.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 1.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #E3ECF5">
                            <td>Emprego da crase.</td>
                            <td style="text-align: center">2.0</td>

                            <td>
                                <input type="number" min="0" max="2" name="competencia15" ng-model="essay.scores[14]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia15.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia15.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 2.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Colocação pronominal.</td>
                            <td style="text-align: center">1.0</td>

                            <td>
                                <input type="number" min="0" max="1" name="competencia16" ng-model="essay.scores[15]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia16.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia16.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 1.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #E3ECF5">
                            <td>Pontuação.</td>
                            <td style="text-align: center">5.0</td>

                            <td>
                                <input type="number" min="0" max="5" name="competencia17" ng-model="essay.scores[16]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia17.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia17.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 5.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>

                        <tr style="background-color: #D1DEEC">
                            <td>Ortografia e Acentuação.</td>
                            <td style="text-align: center">5.0</td>

                            <td>
                                <input type="number" min="0" max="5" name="competencia18" ng-model="essay.scores[17]" ng-disabled="currentUser.userKind === 'Redator'"  ng-change="sumScores()" required>

                                <div ng-messages="esssayForm.competencia18.$error" style="color: #ff0000" role="alert" ng-if="esssayForm.competencia18.$dirty">
                                    <div ng-message="required">This field is required.</div>
                                    <div ng-message="min">This field must be at least 0.</div>
                                    <div ng-message="max">This field must be at most 5.</div>
                                    <div ng-message="number">Not a valid number.</div>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                        <tr style="background-color: #0174DF">
                            <th style="font-size: 1.3rem; text-align: center; color:white">Nota Final</th>
                            <td style="font-size: 1.3rem; text-align: center; color:white">50</td>
                            <td><input style="color:white" type="number" min="0" max="50" name="notaFinalE" ng-model="essay.finalScore" disabled required></td>
                        </tr>
                    </table>

                </div>

                <!--Concurso-->



                <md-input-container class="md-block" style="text-align: center">
                    <h5>Título</h5>
                    <input type="text" name="title" ng-model="essay.title" disabled>
                </md-input-container>
                <md-input-container class="md-block" style="text-align: center">
                    <textarea ng-show="!essay.essayImage" type="text" id="text" name="text" ng-model="essay.text" cols="10" rows="20" required disabled></textarea>
                </md-input-container>
            </form>
            <img style="width: 100%" ng-show="essay.essayImage" src="{{essay.essayImage}}">
            <h5>Comentários do Corretor</h5>
            <textarea ng-model="essay.comment" ng-disabled="currentUser.userKind === 'Redator'"></textarea>
            <md-button class="md-primary md-raised" ng-click="saveComment()" ng-hide="currentUser.userKind === 'Redator'">Enviar Correção</md-button>
        </md-content>
    </div>



    <!-- ==== RIGHT_BAR ==== -->
    <md-sidenav class="md-sidenav-right" md-component-id="right" md-whiteframe="4" md-disable-close-events>

        <md-toolbar class="md-theme-indigo">
            <div layout="row">
                <h1 class="md-toolbar-tools" flex="50">Chat</h1>
                <i class="material-icons" ng-click="toggleRight()" style="text-align: right" flex="50">clear</i>
            </div>
        </md-toolbar>

        <md-content layout-margin>
            <!--                <md-card>
                                <md-input-container class="md-block" >
                                    <label>Comentário</label>
                                    <textarea type="text" id="comment" ng-disabled="essay.comment && currentUser.userKind == 'Redator'" name="comment" ng-model="essay.comment" ng-minlength="10" ng-maxlength="200"></textarea>
                                </md-input-container>
                                <div class="send-button" style="text-align: right" ng-show="currentUser.userKind == 'Corretor'">
                                    <md-button  class="md-raised md-primary" id="saveComment" ng-click="saveComment()"> Salvar Comentário </md-button>
                                </div>
                            </md-card>-->
            <div class="rightbar-itens" ng-disabled="!essay.comment">
                <md-list>
                    <md-list-item class="contest md-2-line" ng-repeat="message in essay.messages">
                        <!-- <img ng-src="{{getImage('/user/image/' + message.email)}}" class="md-avatar" alt=""> -->
                        <div class="md-list-item-text">
                            <p><img height="20px" width="20px" src="{{message.photo}}"></p>
                            <p>{{message.email}}</p>
                            <p>{{message.timestamp}}</p>
                            <p >{{message.text}}</p>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <md-card ng-disabled="!essay.comment">
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Insira uma mensagem</label>
                    <textarea ng-model="essayMessage" id="newMessage" required></textarea>
                </md-input-container>
                <div class="send-button" style="text-align: right">
                    <md-button type="submit" class="md-raised md-primary" id="saveNewMessage" ng-click="sendMessage(essayMessage)">ENVIAR</md-button>
                </div>
            </md-card>
        </md-content>

    </md-sidenav>
    <!-- ==== /RIGHT_BAR ==== -->
</div>
