<style>
    .form-style-4{
        font-size: 14px;
    }
    .form-style-4 input[type=text],
    .form-style-4 input[type=email],
    .form-style-4 input[type=date],
    .form-style-4 textarea,
    .form-style-4 md-select

    {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #f8f8f8;
    }

    .img-style-01 {
        border-radius: 8px;
    }
    .img-style-01:hover {
        opacity:0.4;
    }
</style>

<div class="layout-row" layout="row" flex>
    <sidenav></sidenav>
    <div class="layout-column" layout="column" flex>
        <div ng-include="'components/shared/toolbar/toolbar.html'"></div>

        <div flex layout="column" ng-cloak>
            <md-content>
                <md-card layout-padding>
                    <form class="form-style-4">
                        <div style="text-align: right">
                            <i class="material-icons" ng-click="setEnable()">create</i>
                        </div>
                        <div style="text-align: center">
                            <img class="img-style-01" style="width: 10%; height:10%" ng-click="setEnablePhoto()" src="{{newImage ? newImage : profile.photo}}">

                        </div>
                        <div style="text-align: center">
                            <md-button ng-show="!enablePhoto" class="button md-raised md-primary" ngf-select ng-model="profilePhoto" name="file" ngf-pattern="'image/*'"
                                       ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                            > Alterar Imagem </md-button>
                        </div>
                        <br>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Nome Completo</label>
                                <input type="text" class="form-control" id="nome" ng-model="profile.name" ng-disabled="enableForm">
                            </md-input-container>
                            <md-input-container flex-gt-sm="">
                                <label>Username</label>
                                <input type="text" class="form-control" id="username" ng-model="profile.userName" ng-disabled="enableForm">
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Email</label>
                                <input type="email" id="email" ng-model="profile.email" ng-disabled="enableForm">
                            </md-input-container>
                        </div>


                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Data de Nascimento</label>
                                <input type="date" id="dtn" ng-model="profile.birthdate" ng-disabled="enableForm">
                            </md-input-container>
                            <md-input-container flex-gt-sm="">
                                <label>Escola</label>
                                <input type="text" id="escola" ng-model="profile.school" ng-disabled="enableForm">
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex="">
                                <label>Sexo</label>
                                <md-select name="sexo" ng-model="profile.gender" ng-disabled="enableForm">
                                    <md-option value="Masculino">Masculino</md-option>
                                    <md-option value="Feminino">Feminino</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex-gt-sm="">
                                <label>Grau de Escolaridade</label>
                                <md-select name="grauDeEscolaridade" ng-model="profile.degreeOfSchooling" ng-disabled="enableForm">
                                    <md-option value="Fundamental">Fundamental</md-option>
                                    <md-option value="Médio">Médio</md-option>
                                    <md-option value="Superior">Superior</md-option>
                                    <md-option value="Pós-graduação">Pós-graduação</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Tipo de Usuário</label>
                                <md-select name="tipoDeUsuario" ng-model="profile.userKind" ng-disabled="enableForm">
                                    <md-option value="Redator">Redator</md-option>
                                    <md-option value="Corretor">Corretor</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex-gt-sm="" ng-show="profile.userKind == 'Corretor'">
                                <label>Tipo de Corretor</label>
                                <md-select name="type" ng-model="profile.correctorKind" required ng-disabled="enableForm">
                                    <md-option value="Enem">Enem</md-option>
                                    <md-option value="Vestibular">Vestibular</md-option>
                                    <md-option value="Concurso">Concurso</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <md-button ng-disabled="editPass" style="margin:auto" class="button md-raised md-primary" ng-click="getNewPass()" ng-show="!enableForm">Alterar Senha</md-button>

                        <div layout-gt-sm="row" ng-show="!enableForm && editPass">
                            <md-input-container flex-gt-sm="">
                                <label>Nova Senha</label>
                                <input type="password" id="nova_senha" ng-model="profile.password">
                            </md-input-container>

                            <md-input-container flex-gt-sm="">
                                <label>Confirmar Nova Senha</label>
                                <input type="password" id="conf_nova_senha" ng-model="profile.cpassword">
                            </md-input-container>

                        </div>

                        <div style="text-align: right">
                            <md-button type="submit" value="confirmar" class="md-raised md-primary" ng-click="showConfirm($event)" ng-disabled="enableForm"> SALVAR </md-button>
                        </div>
                    </form>

                </md-card>
            </md-content>
        </div>
    </div>
</div>

</div>
