<div class="container">
    <div layout="row">
        <sidenav></sidenav>

        <div class="form" flex layout="column" ng-cloak>
            <md-content>
                <md-card layout-padding>
                    <form>
                        <div style="text-align: right">
                            <i class="material-icons" ng-click="setEnable()">create</i>
                        </div>
                        <div layout-gt-sm="row" layout-align="center">
                            <img style="width: 10%; height:10%" src="{{newImage ? newImage : profile.photo}}">

                        </div>
                        <div layout-gt-sm="row" layout-align="center">
                            <md-button ng-show="!enableForm" class="button md-raised md-primary" ngf-select ng-model="profilePhoto" name="file" ngf-pattern="'image/*'"
                                       ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                       ngf-resize="{width: 100, height: 100}"> Alterar Imagem </md-button>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Nome Completo</label>
                                <input type="text" class="form-control" id="nome" ng-model="profile.name" ng-disabled="enableForm">
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Username</label>
                                <input type="text" class="form-control" id="username" ng-model="profile.userName" ng-disabled="enableForm">
                            </md-input-container>
                            <md-input-container flex="20">
                                <label>Sexo</label>
                                <md-select name="sexo" ng-model="profile.gender" ng-disabled="enableForm">
                                    <md-option value="Masculino">Masculino</md-option>
                                    <md-option value="Feminino">Feminino</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Data de Nascimento</label>
                                <input type="date" id="dtn" ng-model="profile.birthdate" ng-disabled="enableForm">
                            </md-input-container>

                            <md-input-container flex-gt-sm="">
                                <label>Escola</label>
                                <input type="text" id="escola" ng-model="profile.school" ng-disabled="enableForm">
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Grau de Escolaridade</label>
                                <md-select name="grauDeEscolaridade" ng-model="profile.degreeOfSchooling" ng-disabled="enableForm">
                                    <md-option value="Fundamental">Fundamental</md-option>
                                    <md-option value="Médio">Médio</md-option>
                                    <md-option value="Superior">Superior</md-option>
                                    <md-option value="Pós-graduação">Pós-graduação</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container flex-gt-sm="">
                                <label>Tipo de Usuário</label>
                                <md-select name="tipoDeUsuario" ng-model="profile.userKind" ng-disabled="enableForm">
                                    <md-option value="Redator">Redator</md-option>
                                    <md-option value="Corretor">Corretor</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row" ng-show="profile.userKind == 'Corretor'">
                            <md-input-container flex-gt-sm="">
                                <label>Tipo de Corretor</label>
                                <md-select name="type" ng-model="profile.correctorKind" required ng-disabled="enableForm">
                                    <md-option value="Enem">Enem</md-option>
                                    <md-option value="Vestibular">Vestibular</md-option>
                                    <md-option value="Concurso">Concurso</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Email</label>
                                <input type="email" id="email" ng-model="profile.email" ng-disabled="enableForm">
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Senha</label>
                                <input type="password" id="senha" ng-model="profile.pass" ng-disabled="enableForm">
                            </md-input-container>

                            <md-input-container flex-gt-sm="">
                                <label>Confirmar Senha</label>
                                <input type="password" id="confirmar_senha" ng-model="profile.cpass" ng-disabled="enableForm">
                            </md-input-container>
                        </div>

                        <a ng-style="{
                          'text-decoration' : 'underline',
                          'color' : editPass? 'red' : 'blue'
                        }" ng-click="getNewPass()" ng-show="!enableForm">Alterar Senha</a>

                        <div layout-gt-sm="row" ng-show="!enableForm && editPass">
                            <md-input-container flex-gt-sm="">
                                <label>Nova Senha</label>
                                <input type="password" id="nova_senha" ng-model="profile.npass">
                            </md-input-container>

                            <md-input-container flex-gt-sm="">
                                <label>Confirmar Nova Senha</label>
                                <input type="password" id="conf_nova_senha" ng-model="profile.cnpass">
                            </md-input-container>

                        </div>

                        <div style="text-align: right">
                            <md-button type="submit" value="confirmar" class="md-raised md-primary" ng-click="showConfirm($event)" ng-disabled="enableForm"> SALVAR </md-button>
                        </div>
                    </form>
        </div>

        </md-card>
        </md-content>
    </div>

</div>

</div>