<md-toolbar>
    <div layout="row" layout-xs="column">
        <div flex="40" flex-offset="20"> <h1> Cadastro </h1> </div>
        <div flex="60" flex-offset="20"> <h1> Logo </h1> </div>
    </div>
</md-toolbar>

<div layout="row">
    <div class="form" layout="column" flex>
        <md-content layout-padding>
        <md-card layout-padding>
        <div flex>
                <form>
                    <md-input-container class="md-block">
                        <input type="text" placeholder="Nome Completo">
                    </md-input-container>

                    <div layout-gt-sm="row">
                        <md-input-container flex-gt-sm="">
                            <label>Username</label>
                            <input type="text" name="username">
                        </md-input-container>

                        <md-input-container flex="20">
                            <label>Sexo</label>
                            <md-select name="sexo" ng-model="register.genero">
                                <md-option ng-repeat="sexo in genero" id="{{sexo}}" value="{{sexo}}">{{sexo}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container flex-gt-sm="">
                            <label>Data de Nascimento</label>
                            <input type="text" name="username">
                        </md-input-container>

                        <md-input-container flex-gt-sm="">
                            <label>Escola</label>
                            <input type="text" name="username">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container flex-gt-sm="">
                            <label>Grau de Escolaridade</label>
                            <md-select name="grauDeEscolaridade" ng-model="register.escolaridade">
                                <md-option ng-repeat="grau in escolaridade" id="{{grau}}" value="{{grau}}">{{grau}}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex-gt-sm="">
                            <label>Tipo de Usuário</label>
                            <md-select name="tipoDeUsuario" ng-model="register.usuario">
                                <md-option ng-repeat="tipo in usuario" id="{{tipo}}" value="{{tipo}}">{{tipo}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row" ng-show="register.usuario == 'Corretor'">
                        <md-input-container flex-gt-sm="">
                            <label>Tipo de Corretor</label>
                            <md-select name="tipoDeCorretor" ng-model="register.corretor">
                                <md-option ng-repeat="tipoCorretor in corretor" id="{{tipoCorretor}}" value="{{tipoCorretor}}">{{tipoCorretor}}</md-option>
                            </md-select>
                        </md-input-container>

                    </div>
                </form>
            </div>

        </md-card>
        </md-content>
    </div>





</div>