<div layout="column">

    <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
        <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Login</h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="Form">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="text" name="email"/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" />
                    <div class="md-block" flex-gt-xs style="text-align: right">
                        <md-button class="md-primary" value="registrar-se" target="_blank"> Registrar-se </md-button>
                        <md-button type="submit" value="entrar" class="md-raised md-primary"> Entrar </md-button>
                    </div>


                    </md-input-container>

                </form>
            </md-card-content>
        </md-card>
    </md-content>

</div>
