<navigation></navigation>


<style>
    body {
        background-image: url("../../public/img/background.jpg");
        background-size:     cover;
        background-repeat:   no-repeat;
        background-attachment: fixed;
    }

    body.md-default-theme, body, html.md-default-theme, html{


        background-color: unset;
    }

    .col-centered{
        float: none;
        margin: 0 auto;
    }
</style>

    <div class="col-md-6 col-centered"  >

            <md-card layout-padding>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Cadastro</h2>
                    </div>
                </md-toolbar>
                    <form name="registerForm">
                        <div layout-gt-sm="row">
                            <md-button class="button md-raised md-primary" ngf-select ng-model="profilePhoto" name="file" ngf-pattern="'image/*'"
                                       ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                       ngf-resize="{width: 100, height: 100}"> Adicionar foto </md-button>
                        </div>
                        <img style="width: 40%, height:40%" src="{{profilePhotoUrl}}" ng-show="profilePhoto">
                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Nome Completo</label>
                                <input type="text" class="form-control" name="nome" ng-model="credentials.name" required>
                                <div ng-messages="registerForm.nome.$error">
                                    <div ng-message="required"> Digite seu nome! </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex-gt-sm="">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" ng-model="credentials.userName" required>
                                <div ng-messages="registerForm.username.$error">
                                    <div ng-message="required"> Digite seu username! </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Data de Nascimento</label>
                                <input type="date" name="dtn" ng-model="credentials.birthdate" required>
                                <div ng-messages="registerForm.dtn.$error">
                                    <div ng-message="required"> Insira a sua data de nascimento! </div>
                                </div>
                            </md-input-container>

                            <md-input-container flex-gt-sm="">
                                <label>Escola</label>
                                <input type="text" name="escola" ng-model="credentials.school" required>
                                <div ng-messages="registerForm.escola.$error">
                                    <div ng-message="required"> Digite o nome da sua escola! </div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex="">
                                <label>Sexo</label>
                                <md-select name="sexo" ng-model="credentials.gender" required>
                                  <md-option value="Masculino">Masculino</md-option>
                                  <md-option value="Feminino">Feminino</md-option>
                                </md-select>
                                <div ng-messages="registerForm.sexo.$error">
                                    <div ng-message="required"> Escolha seu gênero! </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex-gt-sm="">
                                <label>Grau de Escolaridade</label>
                                <md-select name="grauDeEscolaridade" ng-model="credentials.degreeOfSchooling" required>
                                  <md-option value="Fundamental">Fundamental</md-option>
                                  <md-option value="Médio">Médio</md-option>
                                  <md-option value="Superior">Superior</md-option>
                                  <md-option value="Pós-graduação">Pós-graduação</md-option>
                                </md-select>
                                <div ng-messages="registerForm.grauDeEscolaridade.$error">
                                    <div ng-message="required"> Escolha seu grau de escolaridade! </div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Tipo de Usuário</label>
                                <md-select name="tipoDeUsuario" ng-model="credentials.userKind" required>
                                  <md-option value="Redator">Redator</md-option>
                                  <md-option value="Corretor">Corretor</md-option>
                                </md-select>
                                <div ng-messages="registerForm.tipoDeUsuario.$error">
                                    <div ng-message="required"> Escolha o tipo de usuário! </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex-gt-sm="" ng-show="credentials.userKind == 'Corretor'">
                                <label>Tipo de Corretor</label>
                                <md-select name="type" ng-model="credentials.correctorKind" required>
                                   <md-option value="Enem">Enem</md-option>
                                   <md-option value="Vestibular">Vestibular</md-option>
                                   <md-option value="Concurso">Concurso</md-option>
                                </md-select>
                                <div ng-messages="registerForm.type.$error">
                                    <div ng-message="required"> Escolha o tipo de corretor! </div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Email</label>
                                <input type="email" name="email" ng-model="credentials.email" required>
                                <div ng-messages="registerForm.email.$error">
                                    <div ng-message="required"> Digite o seu email! </div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Senha</label>
                                <input type="password" name="senha" ng-model="credentials.password" required>
                                <div ng-messages="registerForm.senha.$error">
                                    <div ng-message="required"> Digite sua senha! </div>
                                </div>
                            </md-input-container>

                            <md-input-container flex-gt-sm="">
                                <label>Confirmar Senha</label>
                                <input type="password" id="confirmar_senha" ng-model="confirm_password" ng-pattern="credentials.password">
                            </md-input-container>

                        </div>

                        <div class="md-block" flex-gt-xs style="text-align: right">
                            <a class="md-primary" value="cancelar"> <a href ng-click="goLogin()">Cancelar</a></a>
                            <md-button type="submit" value="confirmar" class="md-raised md-primary" ng-click="cadastrarUsuario(credentials)"> Confirmar </md-button>
                        </div>
                    </form>
            </md-card>
</div>
