<navigation></navigation>

<div class="container">
    <div class="col-md-6">
        <md-content ng-controller="RegisterController as ctrl"layout-padding>
            <md-card layout-padding>
                <div class="md-toolbar-tools blue">
                    <h2>Cadastro</h2>
                </div>
                    <p class="lead">Already a member? Please
                        <md-button class="md-primary" href ng-click="goLogin()">log in</md-button>
                        instead.
                    </p>
                    <form>
                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Nome Completo</label>
                                <input type="text" class="form-control" id="nome" ng-model="credentials.name">
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Username</label>
                                <input type="text" class="form-control" id="username" ng-model="credentials.userName">
                            </md-input-container>

                            <md-input-container flex="20">
                                <label>Sexo</label>
                                <md-select name="sexo" ng-model="credentials.gender">
                                    <md-option ng-repeat="genero in generos" id="{{genero}}" value="{{genero}}">{{genero}}</md-option>
                                </md-select>
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Data de Nascimento</label>
                                <input type="text" id="dtn" ng-model="credentials.birthdate">
                            </md-input-container>

                            <md-input-container flex-gt-sm="">
                                <label>Escola</label>
                                <input type="text" id="escola" ng-model="credentials.school">
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Grau de Escolaridade</label>
                                <md-select name="grauDeEscolaridade" ng-model="credentials.degreeOfSchooling">
                                    <md-option ng-repeat="grau in escolaridades" id="{{grau}}" value="{{grau}}">{{grau}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container flex-gt-sm="">
                                <label>Tipo de Usuário</label>
                                <md-select name="tipoDeUsuario" ng-model="credentials.userKind">
                                    <md-option ng-repeat="tipo in usuario" id="{{tipo}}" value="{{tipo}}">{{tipo}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row" ng-show="credentials.userKind == 'Corretor'">
                            <md-input-container flex-gt-sm="">
                                <label>Tipo de Corretor</label>
                                <md-select name="tipoDeCorretor" ng-model="credentials.correctorKind">
                                    <md-option ng-repeat="tipoCorretor in corretor" id="{{tipoCorretor}}" value="{{tipoCorretor}}">{{tipoCorretor}}</md-option>
                                </md-select>
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Email</label>
                                <input type="text" id="email" ng-model="credentials.email">
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container flex-gt-sm="">
                                <label>Senha</label>
                                <input type="text" id="senha" ng-model="credentials.password">
                            </md-input-container>

                            <md-input-container flex-gt-sm="">
                                <label>Confirmar Senha</label>
                                <input type="text" id="confirmar_senha">
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row">
                            <md-button class="md-primary" value="cancelar"> <a href ng-click="goLogin()">Cancelar</a></md-button>
                            <md-button type="submit" value="confirmar" class="md-raised md-primary" ng-click="onSubmit()"> Confirmar </md-button>
                        </div>
                    </form>
                </div>

            </md-card>
        </md-content>
    </div>

</div>