<style>
    p.status_aguardando {
        font-style: italic;
        color: green;
    }

    p.status_corrigida {
        color: blue;
    }

    p.status_recorrecao {
        color: orange;
    }

</style>
<div layout="row">
    <sidenav></sidenav>
    <div layout="column" flex ng-cloak>
            <md-content layout-padding>
                <md-list>
                    <md-list-item class="small-font-medium topic" >
                        <div id="titulo" flex="25">
                            <p class="title"><strong> Título </strong></p>
                        </div>
                        <div id="tema" flex="25">
                            <p class="theme"><strong> Tema </strong></p>
                        </div>
                        <div id="tipo" flex="10">
                            <p class="type"><strong> Tipo </strong></p>
                        </div>
                        <div id="nota" flex="10">
                            <p class="nota"><strong> Nota </strong></p>
                        </div>
                        <div id="status" flex="25">
                            <p class="status"><strong> Status </strong></p>
                        </div>
                    </md-list-item>
                    <br>
                    <md-divider></md-divider>
                    <br>
                    <md-list-item class="base-font-regular" ng-repeat="essay in essays " layout="row" layout-wrap>
                        <div flex="25">
                            <p class="title">{{essay.title}}</p>
                        </div>
                        <div flex="25">
                            <p class="theme">{{essay.theme.theme}}</p>
                        </div>
                        <div flex="10">
                            <p class="type">{{essay.type}}</p>
                        </div>
                        <div flex="10">
                            <p class="nota"> {{essay.finalScore}} </p>
                        </div>
                        <div flex="20s">
                            <p ng-show="essay.status=='Aguardando correção'" class="status_aguardando"> {{essay.status}} </p>
                            <p ng-show="essay.status=='Corrigida'" class="status_corrigida"> {{essay.status}} </p>
                            <p ng-show="essay.status=='Aguardando recorreção'" class="status_corrigida"> {{essay.status}} </p>

                        </div>
                        <md-button  ng-show="essay.status==='Corrigida'" value="visualizar" class="md-raised md-primary" ng-click="showEssay(essay._id)"> Visualizar </md-button>
                    </md-list-item>
                </md-list>
            </md-content>
    </div>
</div>