<div layout="row">
    <sidenav></sidenav>
    <div layout="column" flex ng-cloak>
            <md-content layout-padding>
                <md-list>
                    <md-list-item class="small-font-medium topic" >
                        <div flex="30">
                            <p class="title"><strong> Título </strong></p>
                        </div>
                        <div flex="30">
                            <p class="theme"><strong> Tema </strong></p>
                        </div>
                        <div flex="10">
                            <p class="type"><strong> Tipo </strong></p>
                        </div>
                    </md-list-item>
                    <br>
                    <md-divider></md-divider>
                    <br>
                    <md-list-item class="base-font-regular" ng-repeat="essay in essays " layout="row" layout-wrap>
                        <div flex="30">
                            <p class="title">{{essay.title}}</p>
                        </div>
                        <div flex="30">
                            <p class="theme">{{essay.theme}}</p>
                        </div>
                        <div flex="10">
                            <p class="type">{{essay.type}}</p>
                        </div>
                        <md-button value="visualizar" class="md-raised md-primary" ng-click="showEssay(essay._id)"> Corrigir redação </md-button>
                    </md-list-item>
                </md-list>
            </md-content>
    </div>

</div>