<div class="layout-row" layout="row" flex>
    <sidenav></sidenav>
    <div class="layout-column" layout="column" flex>
    <div ng-include="'components/shared/toolbar/toolbar.html'"></div>

    <div layout="column" flex ng-cloak>
            <md-content layout-padding>
                <md-list>
                    <md-list-item class="base-font-regular" ng-repeat="notification in notifications " layout="row" layout-wrap>
                        <div>
                            <p class="title">{{notification.title}}</p>
                        </div>
                        <div>
                            <p class="theme">{{notification.text}}</p>
                            <md-button value="visualizar" class="md-raised md-primary" ng-click="deleteNotification(notification._id)"> Deletar Notificação </md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
    </div>
  </div>
</div>
