

<div class="layout-row" layout="row" flex>
    <sidenav></sidenav>
    <div class="layout-column" layout="column" flex>
    <div ng-include="'components/shared/toolbar/toolbar.html'"></div>

    <div layout="column" flex ng-cloak>
            <md-content layout-padding>
                <md-list>
                    <md-list-item class="base-font-regular" ng-repeat="notification in notifications " layout="row" layout-wrap>
                        <div>
                            <b style="font-size: 22px; margin-right: 20px">{{notification.title}}</b>
                               {{notification.text}}
                            <md-button style="margin-left: 400px;" value="visualizar" aria-label="FAB" class="md-raised md-primary" ng-click="deleteNotification(notification._id)"> Deletar Notificação </md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
    </div>
  </div>
</div>
