<style>
    md-card {
        background-color: #f2f2f2;
    }
</style>

<div class="layout-row" layout="row" flex>
    <sidenav></sidenav>
    <div class="layout-column" layout="column" flex>
    <div ng-include="'components/shared/toolbar/toolbar.html'"></div>

    <div layout="column" flex-gt-xs ng-cloak>
        <div layout-gt-sm="row">

            <div layout-gt-sm="row">
                <md-card class="md-primary" layout-padding>
                    <md-card-content class="md-content">
                        <md-input-container flex-gt-sm="">
                            <label>Título</label>
                            <input type="text" class="form-control" name="nome" ng-model="input.title" required>
                            <div ng-messages="registerForm.nome.$error">
                                <div ng-message="required"> Digite o título! </div>
                            </div>
                        </md-input-container>

                        <md-button class="button md-raised md-primary" ngf-select ng-model="input.pdf" name="file" ngf-pattern="'application/pdf'"
                                   ngf-accept="'application/pdf'" ngf-max-size="20MB" ngf-min-height="100"> Adicionar PDF </md-button>

                        <div layout="column">
                            <md-button type="submit" value="confirmar" class="md-raised md-primary" ng-click="enviar()"> Confirmar </md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
  </div>
</div>
