<div layout="row">
    <sidenav></sidenav>
    <div layout="column" flex ng-cloak>
            <md-content layout-padding>
                <md-list>
                    <md-list-item class="small-font-medium topic" >
                        <div flex="30">
                            <p class="theme"><strong> Temas </strong></p>
                        </div>
                        <div flex="30">
                            <p><strong> Autor </strong></p>
                        </div>
                        <div flex="10">
                            <input type="text" placeholder="Search.." name="search" ng-model="search.theme">
                        </div>

                    </md-list-item>
                    <br>
                    <md-divider></md-divider>
                    <br>
                    <md-list-item class="base-font-regular" ng-repeat="theme in themes | filter:search.theme" layout="row" layout-wrap>
                        <div flex="30">
                            <p class="theme">{{theme.theme}}</p>
                        </div>
                        <div flex="30">
                            <p class="theme">{{theme.autor}}</p>
                        </div>
                        <md-button value="visualizar" class="md-raised md-primary" ng-click="showTheme(theme._id)"> Ver Tema </md-button>
                    </md-list-item>
                </md-list>
            </md-content>
    </div>

</div>