 <md-sidenav class="md-sidenav" role="sidenav" md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-xs')" md-swipe-left="toggleSidenav('sidenav')">
      <md-content role="navigation">
          <div layout="column" layout-align="center center">
              <md-card>
                  <div layout="row">
                      <img style="width: 50%, height: 50%" src="{{profile.photo}}">
                  </div>
              </md-card>
              <h1> {{ profile.userName }} </h1>
          </div>
          <md-list ng-show="profile.userKind == 'Redator'" ng-repeat="action in data.sidenav.redator_actions">
              <md-icon> {{action.icon}} </md-icon>
              <md-button class="md-primary" ng-click="setRoute(action.link)"> {{action.name}} </md-button>
              <md-divider></md-divider>
          </md-list>

          <md-list ng-show="profile.userKind == 'Corretor'" ng-repeat="action in data.sidenav.corretor_actions">
              <md-icon> {{action.icon}} </md-icon>
              <md-button class="md-primary" ng-click="setRoute(action.link)"> {{action.name}} </md-button>
              <md-divider></md-divider>
          </md-list>
      </md-content>
  </md-sidenav>
